DJANGO_SECRET_KEY=replace-me-with-a-strong-secret
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
DJANGO_DB_ENGINE=postgres
POSTGRES_DB=autoparts
POSTGRES_USER=autoparts
POSTGRES_PASSWORD=autoparts
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DJANGO_TIME_ZONE=America/Santiago
JWT_ACCESS_MINUTES=60
JWT_REFRESH_DAYS=1
API_PAGE_SIZE=12
B2B_DISCOUNT_PERCENT=12
WEBPAY_HOST=https://webpay3gint.transbank.cl
WEBPAY_COMMERCE_CODE=597055555532
WEBPAY_API_KEY=579B532A7440BB0C9079DED94D31EA1615BACEB56610332264630D42D0A36B1C
WEBPAY_TIMEOUT_SECONDS=20
FRONTEND_URL=http://localhost:3000
DJANGO_LOG_LEVEL=INFO
BOOTSTRAP_PORTFOLIO=false
PORTFOLIO_ADMIN_USERNAME=admin_portfolio
PORTFOLIO_ADMIN_EMAIL=admin@autoparts.local
PORTFOLIO_ADMIN_PASSWORD=Admin123!
PORTFOLIO_CUSTOMER_USERNAME=cliente_demo
PORTFOLIO_CUSTOMER_EMAIL=cliente@autoparts.local
PORTFOLIO_CUSTOMER_PASSWORD=Cliente123!
PORTFOLIO_DISTRIBUTOR_USERNAME=dist_demo
PORTFOLIO_DISTRIBUTOR_EMAIL=dist@autoparts.local
PORTFOLIO_DISTRIBUTOR_PASSWORD=DistDemo123!
PORTFOLIO_CUSTOMER_QA_USERNAME=cliente_qa
PORTFOLIO_CUSTOMER_QA_EMAIL=cliente.qa@autoparts.local
PORTFOLIO_CUSTOMER_QA_PASSWORD=ClienteQA123!
PORTFOLIO_DISTRIBUTOR_QA_USERNAME=dist_qa
PORTFOLIO_DISTRIBUTOR_QA_EMAIL=dist.qa@autoparts.local
PORTFOLIO_DISTRIBUTOR_QA_PASSWORD=DistQA123!
